main {
    background-color: blue;
    height: 200px;
    width: 200px;
}

.container_div {
    background-color: pink;
    width: 100px;
}

#novo_id {
    background-color: aqua;
    width: 100px;
    height: 100px;
}